body{
  font-family: 'Roboto', sans-serif;
  background:url(images/Background.png);
  background-size: cover;
  margin: 0;
}


.container{
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin: 103px 0 0 129px;
}

.menu__title{
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 67px;
  margin: 0;
}

.menu__title + p{
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin: 8px 0 0 0;
}
.difficulty{
  list-style: none;
  padding: 0;
}



.difficulty > li{
  font-weight: bold;
  font-size: 50px;
  margin-top: 24px;
}

label:hover{
  color:lightblue;
}

label::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 23.54px;
  vertical-align: middle;
}
.diff_variant[type="radio"]{
  display: none;
}

.diff_variant[type="radio"]:checked +label::before{
  background: url(images/rectangle.png);
  background-size: contain;

}


.begin_game{
  color: #ffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  width: 352px;
  height: 95px;
  background: #D62B2E;
  border-radius: 7px;
  border: 0;
}
.bg_cards{
  margin-left: 727px;
  margin-top: -200px;
}
.bg_cards >img{
  width: 83%;
  height: 83%;
}

.table_3{
  display: none;
  margin:317px 0 0 369px;
}

.table_6{
  display: none;

}

.table_6-part-1{
  display: inline-flex;
  margin-left: 300px;
}

.table_6-part-2{
  display: inline-flex;
  margin-left: 300px;
}

.table_10-part-1{
  display: inline-flex;
  margin-left: 77px;
  margin-right: 50px
}

.table_10-part-2{
  display: inline-flex;
  margin-left: 77px;
  margin-right: 50px
}


.table_10{
  display: none;

}
.card{
  width: 218px;
  height: 341px;
  margin: 24px 24px 24px 24px;
}

.card_inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-sizing:border-box;

}

.card_front, .card_back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card_back:hover{
  transition: transform 0.6s;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-5%) rotate(-3.08deg);
}

.card_back{
  background-image: url(images/cardback.png);
  z-index: 2;
  width: 218px;
  height: 341px;


}

.card_front{
  transform: rotateY(180deg);
  z-index: 1;
  width: 218px;
  height: 341px;
}
